*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
header{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 600px;
  background-color: #1f2937;
  color: white;
}
.text1 {
  font-size: 48px;
  font-weight:900;
  margin: 0;
}
.text2 {
  margin-top: 0;
  font-size: 18px;
  color: #E5E7EB;
}
.logo img{
  width: 50px;
}
.navigation{
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 16px;
  
  
}
ul{
  display: flex;
  gap: 50px;
  list-style: none;
  
}
a{
 color: white;
 text-decoration: none;
}

.top-content{
  display: flex;
  align-items: center;
  justify-content: center;
}


.header-main{
  display: flex;
  flex-direction: column;
  flex-basis: 32rem;
  padding: 32px;
  margin-top: 90px;
  
  
  }
.btn{
  align-self: flex-start;
  width: 8rem;
  padding: 8px;
  font-size: 18px;
  background-color: #3882f6;
  border-radius: 1rem;
  color: white;
}
.img1 img{
width: 490px;
height: 270px;
}

.img1{
  margin-top: 100px;
  
}

.four-images{
  width: 200px;
  height: 200px;
}

.second-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  padding: 16px;
  
}
.second-heading{
  font-size: 32px;
  font-weight: bold;
}
.second-text{
  font-size: 18px;
  padding: 5px;
  
}
.second-container{
  display: flex;
  gap: 32px;
  
}
.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 200px;
  flex-wrap: wrap;
  margin-top: 12px;

  
}

.third-part{
  height: 350px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.quote{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.third-content{
  display: flex;
  width: 800px;
  padding: 32px;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
}

.fourth-part{
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderr {
  border: 1px solid black;
  display: flex;
  width: 900px;
  justify-content: center;
  gap: 64px;
  padding: 32px;
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  
}

.btn2 {
  padding: 16px;
  align-self: flex-start;
  margin-top: 30px;
  border-color: white;
  background-color: #3882f6;
  color: white;
  width: 8rem;
}

footer{
  background-color: #1f2937;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 16px;
}